{% extends "base.html" %}

{% block title %}Регистрация - {{ block.super }}{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<p>На e-mail <strong>user@example.com</strong> (<a href="register_edit.html" class="">нажмите сюда если вы ошиблись при вводе адреса
</a>) была отправлено письмо c дальнейшими инструкциями. Если оно всё ещё не пришло:</p>
    <ul>
    <li>Вы указали <strong>user@example.com</strong> в качестве вашего e-mail. Это точно правильный адрес? Если нет,
        <a href="register_edit.html">воспольуйтесь этой ссылкой</a>, чтобы указать правильный адрес.</li>
    <li>Пожалуйста, проверьте папку "Спам". Если оно оказалось там, пожалуйста, <a href="register_spam.html">перейдите по этой ссылке</a>.</li>
    <li>Если ничего не помогло, мы можем отправить письмо ещё раз:</li>
    </ul>
    <a href="register3.html" class="btn">Отправить письмо ешё раз</a>
{% endblock %}