{% extends "base_anon.html" %}

{% block title %}Регистрация - {{ block.super }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Регистрация
            <small>Отправлено письмо для подтверждения</small>
        </h1>
    </div>
    <p>На e-mail <strong>user@example.com</strong> (<a href="register_edit.html" class="">нажмите сюда если вы ошиблись
        при вводе адреса
    </a>) была отправлено письмо для проверки. Пока оно идёт, укажите, как к вам обращаться в письмах, а также ваш
        телефон:</p>
    <form class="form-horizontal ">
        <div class="control-group">
            <label class="control-label" for="inputName">Ваше имя</label>

            <div class="controls">
                <input type="text" id="inputName" name="name" class="input-xlarge" required>
                <span class="help-block">Обычно в качестве данных указывают имя и отчество или имя и фамилию, но
                вы вольны указать то, что вам будет удобно.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhone">Телефон</label>

            <div class="controls">
                <input type="text" id="inputPhone" name="phone" class="input-xlarge">
                <span class="help-block">Мы его будем использовать только в какой-то исключительной ситуации. Указывать
                не обязательно.</span>
            </div>

        </div>
        <div class="control-group">
            <div class="controls">
                <a href="register2.html" class="btn btn-primary">Cохранить</a>
            </div>
        </div>
    </form>
{% endblock %}