{% extends "base_auth.html" %}
{% load webdesign %}

{% block title %}Петухов Алексей - Задания - {{ block.super }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Петухов Алексей <small>Задания</small></h1>
    </div>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li><a href="index.html"><i class="icon-home"></i> Главная</a></li>
            <li><a href="tested_child.html">Иванов Иван</a></li>
            <li class="active"><a href="task.html">Петухов Алексей</a></li>
            <li style="margin-top: 20px"><a href="new_child.html"><i class="icon-plus-sign"></i> Новый участник</a></li>
            <li><a href="profile.html"><i class="icon-cogs"></i> Настройки</a></li>
            <li><a href="tlogin.html"><i class="icon-signout"></i> Выйти</a></li>
        </ul>
        <div class="tab-content">
            <h2>Интегрирование по частям</h2>
            <div class="description">
                <p>Описание задание тут, а не этот бред. Согласно последним исследованиям, сумма ряда раскручивает
                    убывающий интеграл по ориентированной
                    области, откуда следует доказываемое равенство. Математическое моделирование однозначно показывает,
                    что предел функции допускает экстремум функции, что несомненно приведет нас к истине. Ряд Тейлора,
                    исключая очевидный случай, упорядочивает предел последовательности, таким образом сбылась мечта
                    идиота - утверждение полностью доказано. Несмотря на сложности, арифметическая прогрессия определяет
                    изоморфный интеграл по поверхности, явно демонстрируя всю чушь вышесказанного.</p>

                <p>Рассмотрим непрерывную функцию y = f ( x ), заданную на отрезке [ a, b ], интеграл по поверхности
                    основан на опыте. Функция выпуклая кверху очевидна не для всех. Бином Ньютона допускает убывающий
                    экстремум функции, что и требовалось доказать. Точка перегиба, как следует из вышесказанного,
                    изменяет многочлен, как и предполагалось.
                </p>

                <p>Многочлен иррационален. Тройной интеграл, очевидно, уравновешивает скачок функции, таким образом
                    сбылась мечта идиота - утверждение полностью доказано. Число е решительно порождает интеграл от
                    функции комплексной переменной, что и требовалось доказать. Частная производная осмысленно ускоряет
                    лист Мёбиуса, что неудивительно.</p>
            </div>
            <a class="btn btn-large btn-primary">Скачать материалы задания</a>
            <hr/>
            <p>Чтобы получить следующее задание (когда оно станет доступно), сообщите результаты решения этого:</p>
            <form class="form-horizontal">
            {% with range="12345"|make_list %}
                {% for task in range %}
                <div class="control-group">
                    <label class="control-label" for="input-task{{ task }}">Задача {{ task }}</label>

                    <div class="controls">
                        <select id="input-task{{ task }}" required class="input-xxlarge">
                            <option disabled selected>выберите</option>
                            <option>не решена и решение не разобрано или непонятно</option>
                            <option>не решена, но решение разобрано и понятно</option>
                            <option>решена с подсказкой</option>
                            <option>решена самостоятельно</option>
                        </select>
                    </div>
                </div>
                {% endfor %}
            {% endwith %}
                <div class="control-group">
                    <div class="controls">
                        <a href="no_task.html" class="btn btn-primary">Сохранить</a>
                    </div>
                </div>
            </form>
            <hr/>
            <h2>Другие задания</h2>
            <ul>
                <li><a href="#">Разрезания (дополнительное)</a></li>
            </ul>
        </div>

    </div>
{% endblock %}