{% extends "base_auth.html" %}

{% block title %}Управление участниками - {{ block.super }}{% endblock %}

{% block content %}
    <h1>Регистрация нового участника</h1>
<div class="row"><div class="offset2 span9" style="border-left: #ddd solid 1px; padding: 10px 0">
    <div class="span2" style="margin-left: -135px; text-align: right;">
        <div><span class="btn btn-success" style="padding: 3px 10px 3px 5px; border-radius: 6px 0 0 6px">
            <span style="font-weight: bold">+</span> Новый участник
        </span>
        </div>
    </div>
    <p style="padding-left: 15px">Для регистрации нового участника необходимо указать некоторую информацию. Все поля обязательны для
        заполнения.</p>

    <form style="padding-left: 15px" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="input-last-name">Фамилия участника</label>

            <div class="controls">
                <input type="text" id="input-last-name" name="last-name" class="input-xxlarge" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input-first-name">Имя</label>

            <div class="controls">
                <input type="text" id="input-first-name" name="first-name" class="input-xxlarge" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input-second-name">Отчество</label>

            <div class="controls">
                <input type="text" id="input-second-name" class="input-xxlarge" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input-birthday">Дата рождения</label>

            <div class="controls">
                <input type="text" id="input-birthday" class="input-small" required value="01.01.2000">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input-year">Класс</label>

            <div class="controls">
                <select id="input-year" required>
                    <option disabled selected>выберите</option>
                    <option>дошкольник</option>
                    <option>1 класс</option>
                    <option>2 класс</option>
                    <option>3 класс</option>
                    <option>4 класс</option>
                    <option>5 класс</option>
                    <option>6 класс</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input-place">Населённый пункт</label>

            <div class="controls">
                <input type="text" id="input-place" class="input-xxlarge" required>
                <span class="help-block">Если участник учится &mdash; укажите место, где находится учебное заведение.
                    Иначе &mdash; где проживает.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input-school">Название образовательного учереждения</label>

            <div class="controls">
                <input type="text" id="input-school" class="input-xxlarge">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="child_test.html"class="btn btn-primary">Зарегистрировать</a> <a href="index_new.html">отмена</a>
            </div>
        </div>

    </form>
</div></div>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        $('#input-birthday').datepicker({format: 'dd.mm.yyyy', viewMode: 2, weekStart: 1})
    </script>
{% endblock %}