{% extends "base.html" %}
{% block title %}ТехЗадание - {{ block.super }}{% endblock %}
{% block links %}
    <li class="menu-227 first"><a href="tlogin.html" title="" class="">Вход</a></li>
    <li class="menu-227 last"><a href="tlogin.html" title="" class="">Задания</a></li>
{% endblock %}

{% block content %}
    <h1>Техзадание на сайт</h1>
    <p>Нужно сделать сайт, который автоматизирует рутинные операции в работе с кружком. Это регистрация и выдача заданий.</p>

    <p>Регистрировать будут кураторы участников (обычно родители), которых мы называем преподавателями. Соответсвенно,
    регистрация разбивается на два этапа - регистрация куратора, от которого нам нужен только e-mail, как к нему обращаться,
    и в редких случаях телефон; и после этого зарегистрированный куратор регистрирует непосредственно участников, о которых
    мы уже собираем значительно больше информации (но вся она простая, типа названия школы). Такая многоступенчатость
    необходима, поскольку подавляющее большинство учеников - дети из начальной школы.</p>

    <p>Выдают задания адмнистраторы кружка. Задания бывают двух типов: обычное задание (которое из себя представляет,
    в общем-то, просто PDF-файл) и проверочное(тест на сайте). Все участники разбиты на группы, и обычно задание
    выдаётся сразу целой группе, но это верно не всегда. В каждый момент участнику доступно не более одного нового занятия (их
    вообще нет, если он уже всё сделал) и все уже сделанные им задания. Задание считается сделанным, если по нему
    предоставлен отчёт (в случае обычного задания) или тест завершён (в случае теста).</p>

    <p>Тестирующую систему мы планируем успользовать уже существующую, на баще Drupal 6 + Quiz, поскольку не хочется
    заниматься переносом тестов. Соответственно, хоть выбор фреймворка для сайта кружка ничем не ограничен,
    необходимо будет делать мосты для удобной авторизации, перехода сразу к "правильному" тесту и управление доступом
    к ним. В архиве мы будем при этом сохранять полные результаты теста + давать ссылку на PDF с ответами и решениями.</p>

    <p>Дизайн необходимо скопировать с <a href="http://mathbaby.ru">http://mathbaby.ru</a></p>

    <h2>Предполагаемый вид страниц</h2>
    <em>Данные наброски сделаны только для объяснения того, какая функциональность нужна, и не претендуют на то, чтобы
    попасть в финальную версию.</em>
    <h3>Страница авторизации</h3>
    <p><a href="tlogin.html">Ссылка на набросок</a></p>
    <p>Честно говоря, можно было бы вообще не заморачиваться и взять любую "стандартную" авторизацию. Но всё традиционные
    "имена пользователей" нам всё равно не нужны (и очень сильно мешают), и всё равно нам нужна хорошо работающая
    верификация мейлов, поскольку кружок подразумевает некоторое количество личного общения, которое возможно только
    по e-mail. А если у нас есть хорошо работающая система рассылки ссылок, то почему бы не сделать и основную авторизацию
    через неё, чтобы не очень грамотные люди не мучались с паролями. Таким образом родился вот такой вот шаблон.</p>
    <p>До ввода "валидного" e-mail вся нижняя часть либо отключена и "затемнена", либо вообще невидима. Если пароль не введён,
        то нажатие enter должно сабмитить второй вариант. Если пароль введён - третий. Далее каждый
    из вариантов:</p>
    <ul>
        <li><p>Регистрация. Если участник с таким e-mail уже зарегистрирован, тут мы это никак не показываем. Всегда
        идёт переход на <a href="register1.html">примерно такую страницу.</a> Если форма с именем и телефон остаётся
        пустой (пользователь сразу ушёл в почту), то после любого логина она должна показываться вместо какой угодно
        информации.</p>
        <p>Приветственные письма должны уметь различаться для трёх случаев: e-mail вообще не у нас в базе, e-mail не верифицирован
        был, e-mail был уже полностью зарегистрирован на сайте.</p>
        <p>Регистрационное письмо отправляетя не чаще чем 2 раза в сутки, счётчик сбрасывается в случае авторизации.
            Если пользователь пытается отправить себе его ещё раз, <a href="register3.html">отправляем его в техподдержку сразу</a>.</p>
        </li>
        <li>Вход через ссылку. Если пользователь ввёл e-mail, которого у нас нет в базе, пока что
            <a href="login_wrong_email.html">просто ругаемся</a>. Также ограничение на два письма (настраивается)
            в сутки, счётчик сбрасывается в случае авторизации. Иначе <a href="register3.html">отправляем в техподдержку</a>.
        </li>
        <li>Вход через пароль. Пароль можно задать в профиле (а можно и не задавать и отлично жить вообще без пароля).
        Всё стандартно, нет соответствия email-пароль - ругаемся, и предлагаем авторизоваться через ссылку.</li>
    </ul>

    <h3>Одноразовые ссылки</h3>
    Администраторы должны уметь получать одноразовые ссылки с любой landing page.
{% endblock %}